# IMPORTATION DES MODULES

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

from sklearn.preprocessing import MaxAbsScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score

# PRE-TRAITEMENT DES DONNEES

In [2]:
#chargement du dataset
data = pd.read_excel('ml.xlsx')
df = data.copy()

In [3]:
#vérificaton et suppression des doublons
#df.drop_duplicated() pour suppression
df.duplicated().sum()

0

In [4]:
#vérification des données manquantes
df.isna().sum()

AGE            0
SEXE           0
TDT            0
PAR            0
CHOLESTEROL    0
GAJ            0
ECG            0
FCMAX          0
ANGINE         0
DEPRESSION     0
PENTE          0
CŒUR           0
dtype: int64

In [5]:
#vérification de l'existence d'une constante
df.nunique()
df

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

In [6]:
#Encodage des variables catégorielles


def recoder_data(data):
    def recoder(serie):
        return serie.astype('category').cat.codes
    for i in data.select_dtypes('object').columns:
        data[i] = recoder(data[i])

    return data

In [7]:
recoder_data(df)

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,1,0,140,289,0,1,172,0,0.0,0,0
1,49,0,3,160,180,0,1,156,0,1.0,2,1
2,37,1,0,130,283,0,2,98,0,0.0,0,0
3,48,0,1,138,214,0,1,108,1,1.5,2,1
4,54,1,3,150,195,0,1,122,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,2,110,264,0,1,132,0,1.2,2,1
914,68,1,1,144,193,1,1,141,0,3.4,2,1
915,57,1,1,130,131,0,1,115,1,1.2,2,1
916,57,0,0,130,236,0,0,174,0,0.0,2,1
917,38,1,3,138,175,0,1,173,0,0.0,0,0

In [8]:
'''def histo(data):
    return data.hist(figsize=(20,10))'''

In [9]:
#Normalisation des variables
mms= MinMaxScaler()
df_mms= pd.DataFrame(mms.fit_transform(df),columns=df.columns)
mas = MaxAbsScaler()
df_mas= pd.DataFrame(mas.fit_transform(df),columns=df.columns)
#sb.displot(data=df_mms);sb.displot(data=df_mas)

In [10]:
#segmentation de la DataFrame selon X et y
'''xx = df[['AGE','SEXE','TDT','PAR','CHOLESTEROL','GAJ','ECG','FCMAX','ANGINE','DEPRESSION ','PENTE']]
yy= df[['CŒUR']]'''


X = df_mms.iloc[:,:11]
y = df_mms.iloc[:,-1:]

# APPLICATION DU MODELE DE REGRESSION LOGISTIQUE

In [11]:
#separation des données
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
print(x_train.shape)
print(x_test.shape)

(734, 11)
(184, 11)

In [12]:
#Entrainement du modèle
model=LogisticRegression()
model.fit(x_train,y_train)

C:\CONDA\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [13]:
predi=model.predict(x_test)

In [14]:
print(predi)
print(y_test)

[0. 0. 1. 1. 0. 1. 1. 0. 1. 1. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 1. 0. 1.
 1. 1. 0. 1. 0. 0. 1. 0. 1. 1. 1. 0. 1. 0. 1. 1. 1. 1. 1. 0. 0. 1. 0. 1.
 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 1. 1. 1. 1. 1. 0. 0.
 1. 1. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0.
 1. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 1.
 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 1. 1. 0. 1. 0. 0. 1. 1.
 1. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0. 1.
 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0. 1. 1. 1. 0. 1.]
     CŒUR
668   0.0
30    1.0
377   1.0
535   1.0
807   0.0
..    ...
211   1.0
745   1.0
584   1.0
878   0.0
451   1.0

[184 rows x 1 columns]

In [15]:
#Validation du modèle
print(classification_report(y_test,predi))
print(accuracy_score(y_test,predi))

              precision    recall  f1-score   support

         0.0       0.75      0.84      0.79        77
         1.0       0.88      0.79      0.83       107

    accuracy                           0.82       184
   macro avg       0.81      0.82      0.81       184
weighted avg       0.82      0.82      0.82       184

0.8152173913043478